/******************************************************************
STYLESHEET: STYLE

    > BREAKPOINTS
    > TYPOGRAPHY

******************************************************************/


// BREAKPOINTS

/* USAGE: @include medium {...}; */
@mixin medium {
    @media only screen and (min-width: #{$w-medium}) {
        @content;
    }
}

@mixin large {
    @media only screen and (min-width: #{$w-large}) {
        @content;
    }
}


// TYPOGRAPHY

/* USAGE: @include font-size(16/10); */
@mixin font-size($sizeValue: 16/10) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin line-height($sizeValue: 16/10) {
  line-height: ($sizeValue * 10) + px;
  line-height: $sizeValue + rem;
}

@mixin letter-spacing($sizeValue: 16/10) {
  letter-spacing: ($sizeValue * 10) + px;
  letter-spacing: $sizeValue + rem;
}