/******************************************************************
STYLESHEET: VARIABLES

    > COLORS
    > FONTS
    > BREAKPOINTS
    > MARGINS/PADDINGS

This is the place for all variables.
******************************************************************/

// COLORS
$black:      #272b2f;
$grey:       #d9d9dd;
$grey-dark:  #42424a;
$grey-light: #f5f5f9;
$white:      #fff;

$c-dark:   $black;
$c-medium: $grey-light;
$c-light:  $white;

$c-base: $black;


// FONTS
$merriweathersans: 'Merriweather Sans', 'Helvetica', 'Arial', 'sans-serif';
$merriweather:     'Merriweather', 'Helvetica', 'Arial', 'sans-serif';

$f-base:    $merriweather;
$f-heading: $merriweathersans;
$f-link:    $merriweathersans;
$f-text:    $merriweather;


// BREAKPOINTS
$w-small:  681px;
$w-medium: 961px;
$w-large:  1361px;


// MARGINS/PADDINGS
$m-small:  0.5em;
$m-medium: 1em;
$m-large:  5em;